.quest {
  margin: 6px;
}
.quest-title {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363636;
  padding: 2px 15px;
  margin: 0;
}
.quest-title .sign {
  font-size: 62px;
  font-weight: 100;
}
.quest-title:hover {
  cursor: pointer;
}
.quest-text {
  background-color: #363636;
  padding: 20px 15px;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 2px 0px;
}
